*, *:before, *:after {
  box-sizing: border-box;
}

ol, ul, li, a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.button__contact {
  width: 150px;
  height: 50px;
  background-color: #46AC34;
  border: none;
  color: #FFFFFF;
  font-family: "Poppins", serif;
  letter-spacing: 0.5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__contact:hover {
  background-color: #1D5D12;
  cursor: pointer;
}

.separation {
  margin: 40px;
  border: 1px solid white;
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 40px auto;
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
  gap: 3rem;
}

.header__nav-a {
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.header__nav-a:hover {
  color: #46AC34;
}

@media only screen and (max-width: 936px) {
  .header__nav {
    display: none;
  }
  .button__none {
    display: none;
  }
}
.hero {
  background-image: url("../../assets/images/bannervector.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__text-title {
  color: #46AC34;
}
.hero__text-para {
  color: #747474;
  font-size: 18px;
}
.hero__text-h2 {
  font-size: 26px;
  color: #FFFFFF;
}

@media only screen and (max-width: 850px) {
  .hero {
    width: 100%;
  }
}
.separation__service {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 40px;
}
.separation__service-para {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: #F5FFF4;
  color: #46AC34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separation__service-title {
  font-size: 27px;
  font-weight: 700;
}

.services {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  background-color: #F5FFF4;
}
.services__text {
  max-width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.services__text-title {
  font-size: 27px;
}
.services__text-para {
  font-size: 17px;
  color: #747474;
  line-height: 1.5;
}
.services__infos {
  display: flex;
  flex-direction: column;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.services__list-infos {
  color: #46AC34;
  font-size: 17px;
}
.services__img {
  max-width: 50%;
  min-width: 50%;
  height: auto;
  padding: 40px;
  background-image: cover;
}

@media only screen and (max-width: 1200px) {
  .services {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .services {
    display: flex;
    flex-direction: column;
  }
  .services__text {
    max-width: 100%;
  }
  .services__img {
    display: none;
  }
}
.contact {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.contact__infos {
  background-color: #F5FFF4;
}
.contact__plan {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px;
}

.information {
  margin: 40px;
  display: flex;
  flex-direction: column;
}
.information__title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.information__para {
  font-size: 14px;
  color: #747474;
}
.information__para2 {
  font-size: 14px;
  color: #747474;
  font-weight: 700;
}
.information__hour {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.horraire {
  color: #747474;
  font-size: 14px;
  font-weight: 600;
}
.horraire__green {
  color: #46AC34;
  font-weight: 900;
}

.plan__text-title {
  font-size: 27px;
  font-weight: 700;
}

.plan__text-para {
  font-size: 17px;
  color: #747474;
}

@media only screen and (max-width: 768px) {
  .contact {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .contact__infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__frame {
    height: 35vh;
  }
  .information {
    margin-top: 0;
  }
}
.footer {
  margin-top: 40px;
  width: 100%;
  background-color: #F5FFF4;
  display: flex;
  flex-direction: column;
}
.footer__infos {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.footer__separation {
  width: 100%;
  border: 1px solid #46AC34;
}
.footer__nav {
  display: flex;
}
.footer__nav-list {
  display: flex;
  gap: 3rem;
}
.footer__nav-a {
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.footer__nav-a:hover {
  color: #46AC34;
}
.footer__right {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0;
  }
}
.presentation {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__title {
  font-size: 27px;
  font-weight: 700;
}
.presentation__para {
  color: #747474;
  font-weight: 500;
  max-width: 650px;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .presentation__para {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */